interactions:
- request:
    body: '{"personalizations": [{"to": [{"email": "user.email_0@example.com", "name":
      "User 0"}], "subject": "Notifica\u00e7\u00e3o de redefini\u00e7\u00e3o de senha"}],
      "from": {"email": "no-reply@yourdomain.com", "name": "PapitoPet API"}, "reply_to":
      {"email": "no-reply@yourdomain.com", "name": "PapitoPet API"}, "content": [{"type":
      "text/html", "value": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta
      charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1\">\n    <title>PapitoPet API</title>\n</head>\n<body>\n    <h3>PapitoPet
      API</h3>\n    <hr />\n    <h5>Ol\u00e1!</h5>\n    <div>Voc\u00ea recebeu esse
      e-mail porque foi solicitado uma redefini\u00e7\u00e3o de senha na sua conta.</div>\n    <a
      href=\"http://test/account/accounts/password-reset-form/?email=user.email_0@example.com&amp;token=ZfXmQtyhXvqZ67Qq9_HKKe-F1IpiOAE1N00ashqXDA3PlPptH5pi6ToWXWERpd1h0rsZWBhtwvbiCHocvpvy2A\">Redefinir
      senha</a>\n    <div>O Link de redefini\u00e7\u00e3o de senha ir\u00e1 expirar
      em 60 minutos.</div>\n    <div>Se voc\u00ea n\u00e3o solicitou essa redefini\u00e7\u00e3o
      de senha, ignore este e-mail.</div>\n    <div>Atenciosamente,</div>\n    <div>PapitoPet
      API</div>\n    <hr />\n    <div>\n        Se voc\u00ea estiver tendo problemas
      para clicar no bot\u00e3o \"Verifique o endere\u00e7o de e-mail\", copie o URL
      abaixo e cole em seu navegador:\n        <a href=\"http://test/account/accounts/password-reset-form/?email=user.email_0@example.com&amp;token=ZfXmQtyhXvqZ67Qq9_HKKe-F1IpiOAE1N00ashqXDA3PlPptH5pi6ToWXWERpd1h0rsZWBhtwvbiCHocvpvy2A\">http://test/account/accounts/password-reset-form/?email=user.email_0@example.com&amp;token=ZfXmQtyhXvqZ67Qq9_HKKe-F1IpiOAE1N00ashqXDA3PlPptH5pi6ToWXWERpd1h0rsZWBhtwvbiCHocvpvy2A</a>\n    </div>\n    <div>\u00a9
      2021 PapitoPet API. Todos os direitos reservados.</div>\n</body>\n</html>"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
    method: POST
    uri: https://api.sendgrid.com/v3/mail/send
  response:
    body:
      string: ''
    headers:
      X-Message-Id:
      - xmoTDen-Tg-9stfSA5up7w
      X-No-CORS-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    status:
      code: 202
      message: Accepted
version: 1
