interactions:
- request:
    body: '{"personalizations": [{"to": [{"email": "user.email_0@example.com", "name":
      "User 0"}], "subject": "Check email address"}], "from": {"email": "no-reply@yourdomain.com",
      "name": "SaaS Api"}, "reply_to": {"email": "no-reply@yourdomain.com", "name":
      "SaaS Api"}, "content": [{"type": "text/html", "value": "<!DOCTYPE html>\n<html
      lang=\"pt-br\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\"
      content=\"width=device-width, initial-scale=1\">\n    <title>SaaS Api</title>\n</head>\n<body>\n    <h3>SaaS
      Api</h3>\n    <h5>Ol\u00e1!</h5>\n    <div>Por favor, clique no bot\u00e3o abaixo
      para verificar seu endere\u00e7o de e-mail.</div>\n    <a href=\"testing_url\">Check
      email address</a>\n    <div>Se voc\u00ea n\u00e3o criou uma conta, ignore este
      e-mail.</div>\n    <div>Atenciosamente,</div>\n    <div>SaaS Api</div>\n    <hr
      />\n    <div>\n        Se voc\u00ea estiver tendo problemas para clicar no bot\u00e3o
      \"Check email address\", copie o URL abaixo e cole em seu navegador:\n        <a
      href=\"testing_url\">testing_url</a>\n    </div>\n    <div>\u00a9 2021 SaaS
      Api. Todos os direitos reservados.</div>\n</body>\n</html>"}]}'
    headers:
      authorization:
      - Bearer {token}
      content-type:
      - application/json
    method: POST
    uri: https://api.sendgrid.com/v3/mail/send
  response:
    content: ''
    headers:
      X-Message-Id:
      - gFoZ5jP9Qb-gxnD7K9X2Uw
      X-No-CORS-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    status_code: 202
version: 1
