<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_title }}</title>
</head>
<body>
    <h3>{{ app_title }}</h3>
    <hr />
    <h5>Olá!</h5>
    <div>Você recebeu esse e-mail porque foi solicitado uma redefinição de senha na sua conta.</div>
    <a href="{{ url }}">Redefinir senha</a>
    <div>O Link de redefinição de senha irá expirar em {{ expire_minutes }} minutos.</div>
    <div>Se você não solicitou essa redefinição de senha, ignore este e-mail.</div>
    <div>Atenciosamente,</div>
    <div>{{ app_title }}</div>
    <hr />
    <div>
        Se você estiver tendo problemas para clicar no botão "Verifique o endereço de e-mail", copie o URL abaixo e cole em seu navegador:
        <a href="{{ url }}">{{ url }}</a>
    </div>
    <div>© {{ datetime.utcnow().year }} {{ app_title }}. Todos os direitos reservados.</div>
</body>
</html>
