<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ app_title }}</title>

    <!-- Styles -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <style>
        form {
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light mb-5" style="background-color: #e3f2fd;">
        <span></span>
        <span class="navbar-text">
            <h5>{{ app_title }}</h5>
        </span>
        <span></span>
    </nav>
    <div class="container-fluid">
        <form method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
                {% for error in form.errors['password'] %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.confirm.label }}
                {{ form.confirm }}
                {% for error in form.errors['confirm'] %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            {{ form.token }}
            {{ form.email }}
            <button type="submit" class="btn btn-primary">Alterar senha</button>
        </form>
    </div>
    <nav class="navbar navbar-light mt-5" style="background-color: #e3f2fd;">
        <span></span>
        <span class="navbar-text">
          © {{ datetime.utcnow().year }} {{ app_title }}. Todos os direitos reservados.
        </span>
        <span></span>
    </nav>
</body>
</html>
